/* Enter your custom styles here */
.slotHighlighted {
background-color: #E0F7E1; 
border-color: #2b7c2b;
box-shadow: 0 0 10px #2b7c2b;
}

.right {
    right: 0;
}

.spacer {
  width: 100%;
}

.bottomline {
    border-bottom: 1px solid #cccccc;
}

.min {
    min-width: 300px;
}